.menuButton 
{
    background-color: transparent;
    display: block;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    color: white;
    font-size: 16px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    border-color: rgba(255, 255, 255, 0.00);
    position: relative;
    float: left;
}
.button {
    display: block;
    cursor: pointer;
    text-align: center;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    color: white;
    border: none 0px;
    background-color: #2196f3;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.shadow
{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.textbox
{

}

.dialog {
    box-shadow: 0px 6px 16px rgba(0,0,0,0.2);
    border-radius: 2px;
    background-color: white;
}
.borderObject
{
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200,200,200,1.00);
}
.divFloat
{
    position: fixed;
    padding: 0px;
    margin: 0px;
    z-index: 10000;
}
.transparentBackgroundOjbect {
    background-color: transparent;
}
.iconButton {
    font-family: fontIcon;
    vertical-align: middle;
}