body
{
    font-family: "Microsoft YaHei UI",Microsoft YaHei;
    margin: 0px;
    background-color: #FAFAFA;
}
h1
{
    font-size: 72px;
    font-weight: 100;
    margin: 0px;
}
h2
{
    font-size: 60px;
    font-weight: 100;
    margin: 0px;
}
h3
{
    font-size: 48px;
    font-weight: 100;
    margin: 0px;
}
h4
{
    font-size: 36px;
    font-weight: 200;
    margin: 0px;
}
h5
{
    font-size: 24px;
    font-weight: 300;
    margin: 0px;
}
h6
{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}
hr
{
    border-style: solid;
    border-color: #66CCFF;
    border-width: 1px;
    margin: 0px;
    /*margin-bottom: 5px;*/
}
ul
{
    position:relative;
    height:100%;
    display: block;
    margin: 0px;
    padding: 0px;
}
li
{
    display: block;
    float: left;
}
a
{
    text-decoration: none;
    cursor: pointer;
}
nav
{
    position: relative;
    height: 100%;
}
i
{
    font-style: normal;
}