
.comment-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #444; 
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans","Roboto","等线","Microsoft YaHei",sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.font-UI {
    font-family: "Raleway",sans-serif;
    user-select: none;
    cursor: default;
}

.button {
    padding: .5em 2em;
    font-family: "Raleway", sans-serif;
    user-select: none;
    color: white;
    background-color: #4DD0E1;
    cursor: pointer;
    letter-spacing: .2em;
}

#space {
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    perspective: 600px;
    perspective-origin: center;
}

#solar-system {
    width: 300px;
    height: 300px;
    position: relative;
    transform-origin: center;
    transform-style: preserve-3d;
    /*transform: rotateX(80deg);*/
}

#sun {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff06b;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transform-origin: center;
    transform-style: preserve-3d;
    /*transform: rotateX(-80deg);*/
    z-index: 100;
}
#root.darken #sun{
    box-shadow: 0 0 30px #fff06b;
}

#solar-system svg {
    perspective: 300px;
}

#mercury {
    height: 100px;
    width: 100px;
    top: calc(50% - 51px);
    left: calc(50% - 51px);
    animation-duration: 1.06s;
}

#mercury .antiRotate {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: -5px;
    animation-duration: 1.06s;
}

#mercury .planet {
    background-color: #a0a0a0;
}

#venus {
    width: 140px;
    height: 140px;
    top: calc(50% - 71px);
    left: calc(50% - 71px);
    animation-duration: 1.757s;
}

#venus .antiRotate {
    width: 14px;
    height: 14px;
    top: calc(50% - 7px);
    left: -7px;
    animation-duration: 1.757s;
}

#venus .planet {
    background-color: #eae5cf;
}

#earth {
    width: 200px;
    height: 200px;
    top: calc(50% - 101px);
    left: calc(50% - 101px);
    animation-duration: 3s;
}

#earth .antiRotate {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: -10px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
}

#earth .planet {
    background-color: #6DB5FF;
}

#mars {
    animation-duration: 4.96s;
    width: 280px;
    height: 280px;
    top: calc(50% - 141px);
    left: calc(50% - 141px);
}

#mars .planet {
    background-color: #ffbe6d;
}

#mars .antiRotate {
    height: 14px;
    width: 14px;
    top: calc(50% - 7px);
    left: -7px;
    animation-duration: 4.96s;
}

.planet {
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    /*transform: rotateX(-80deg);*/
    width: 100%;
    height: 100%;
}

.orbit {
    border: solid 1px rgba(128,128,128,0.2);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: auto;
    animation-name: planetRotate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    transform-origin: center;
}

.antiRotate {
    animation-name: planetAntiRotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
}

#solar-system g {
    transform-origin: 500px 500px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    perspective-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
}
@keyframes planetRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes planetAntiRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#top-nav > .item {
    display: inline-block;
    padding: 20px 30px;
    cursor: pointer;
    color: white;
}
*:focus{
    outline: none;
}

#top {
    background-color: #4DD0E1;
    z-index: 100;
}
#root.darken #top{
    opacity: 0;
}

#top-center {
    width: 1200px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    align-items: center;
    color: white;
}

#top-nav {
    
}

#main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

#center {
    width: 1024px;
}    
@media screen and (max-width:1800px) and (min-width:1280px){
    #center{
        margin-left: 300px;
    }
}
@media all and (max-width:1440px){
    #center{
        width: 800px;
    }
}
#center.hide-loading{
    margin-left: 0;
}

.article {
    padding-top: 100px;
}

.title {
    padding: .5em 0;
    font-size: 2em;
    text-align: center;
    color: rgba(0,0,0,0.7);
    
}

.article-info {
    text-align: center;
    display: block;
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 0.8em;
}

.article .time {
    display: inline-block;
}
.time::before{
    content: "access_time"
}

.author {
    display: inline-block;
    margin-left: 3em;
}
.author::before {
    content: "edit";
}

.tags-wrapper {
    display: inline-block;
    margin-left: 3em;
}
.tags-wrapper::before{
    content: "\E54E";
}
.with-icon::before{
    font-family: "Material Icons";
    font-size: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-right: 0.3em;
}

.article-info .tag {
    display: inline-block;
    padding: 0 1em;
    border-radius: 100px;
    cursor: pointer;
    background-color: #E0F7FA;
}

.content {
    margin-top: 2em;
    line-height: 2;
    min-height: 400px;
    color: #555;
    font-size: 16px;
}

.content img {
    display: block;
    margin: auto;
}

hr {
    border: solid 1px;
    margin: 0;
    padding: 0;
}

.divider {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}



.divide-line {
    flex: auto;
    height: 0;
    border: solid 0.5px rgba(0,0,0,0.1);
}

.divide-name {
    margin-right: 1em;
    color: #4DD0E1;
}

.comment-area {
    margin-top: 100px;
}
#root.darken .comment-area{
    display: none;
}

input {
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    background-color: transparent;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.textbox {
    
    padding: 0.2em .5em;
    background-color: transparent;
    border-bottom: solid 2px #B2EBF2;
}




textarea {
    border: none;
    overflow: hidden;
    resize: none;
    padding: 0;
    margin: 0;
    font: inherit;
}



.sender-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.comment .avatar {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-bottom: 20px
}

.comment {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.comment > .decoration {
    flex: auto auto;
    width: 60px;
    display: block;
    position: relative;
    cursor: default;
}

.comment .name {
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}

.comment .email {
    font-size: 0.8em;
    margin-left: .5em;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
    font-weight: bold;
}

.comment .time {
    font-size: 0.8em;
    color: rgba(0,0,0,0.2);
    font-weight: bold;
}



.comment .comment-text {
    margin: 1em 0;
    color: #555;
    min-height: 5em;
    white-space: normal;
    word-break: break-all;
    word-break: break-word;
}

.comment .hor-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.comment > .decoration .circle {
    height: 20px;
    width: 20px;
    font-size: 20px;
    background-color: #B2EBF2;
    border-radius: 100%;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    transition: all .3s;
    cursor: pointer;
}
.comment > .decoration:hover .circle{
    height: 40px;
    width: 40px;
    font-size: 40px;
}

.circle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 40px;
    align-items: center;
    transition: all .3s;
}
.comment > .decoration:hover .circle-wrapper{
    margin-top: 30px;
}

.line-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.comment .line {
    width: 5px;
    background-color: rgba(0,0,0,0.05);
    flex: 1 1;
}

.avatar-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.ver-wrapper {
    flex: 1 1;
    margin-top: 20px;
}

.comment .comment-wrapper {
    flex: 1 1;
    margin-left: 20px;
}

#input-email {
    margin-left: 1em;
}

#input-comment {
    margin: 1em 0;
    padding: .2em .5em;
    min-height: 5em;
    white-space: normal;
    word-break: break-all;
    word-break: break-word;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: rgba(0,0,0,0.3);
}



#footer {
    background-color: rgba(0,0,0,0.05);
    height: 100px;
    display: flex;
    flex-flow:  column nowrap;
    justify-content: center;
    align-items: center;
    color: #AAA;
}

#top-nav .current {
    display: inline-flex;
}

.top-right {
    flex: 1 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

#login {
    color: white;
    font-size: 24px;
}

.top-icon {
    font-family: 'Material Icons';
    font-size: 24px;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 1em;
}




#button-nouse {
    background-color: white;
    position: absolute;
    top: 500px;
    left: 200px;
    display: block;
    width: 2px;
    height: 2px;
    color: transparent;
    cursor: pointer;
    animation-name: star;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
@keyframes star{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
#root.darken #button-nouse::before{
    /*content: "here";
    color: rgba(255,255,255,0.2);
    cursor: pointer;*/
}

#user-avatar {
    height: 100%;
    border-radius: 100%;
}

#user {
    height: 40px;
    position: relative;
}

#account-area.login > #login {
    display: none;
}

#account-area.login > #user-login-wrapper {
    display: flex;
}

.comment-render {
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
}

#search::before {
    content: "search";
}



.top-icon {
    color: white;
    font-size: 24px;
}



#user-action {
}

.flex-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#user-login-wrapper {
    display: none;
}

.icon-button {
    font-family: "Material Icons";
    line-height: 1;
    
}

.comment-publish .sender-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#button-comment-send {
    color: #80DEEA;
    transition: color .2s;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
    margin-left: 20px;
}
#button-comment-send:hover{
    color: #00BCD4;
}


.comment-reply {
    font-size: .5em;
    opacity: 0;
    transition: opacity .3s;
}
.comment:hover > .decoration .comment-reply{
    opacity: 1;
}

.comment-publish .icon-button {
    font-size: .7em;
}
#button-menu {
    font-size: 30px;
    padding: 10px;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    display: none;
    z-index: 100000;
}

#page-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    display: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#page-title::before{
    content: "Blog - ";
}
@media screen and (max-width:1280px){
    #top-center{
        width: 100%;
    }
    #center{
        padding: 0 30px;
    }
}
@media screen and (max-width:850px){
    #top{
        height: 50px;
        position: fixed;
        width: 100%;
        
    }
    #top-center{
        padding: 0 10px 0 0px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        
    }
    .top-icon{
        margin-right: 10px;
    }
    #nav-wrapper{
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.1);
        z-index: 10000;
        display: none;
        opacity: 0;
        transition: all .3s;
    }
    .extend-side #nav-wrapper{
        display: block;
        opacity: 1;
    }
    
    #top-nav{
        display: flex;
        flex-flow: column nowrap;
        background-color: white;
        width:50%;
        box-sizing: border-box;
        padding-top: 50px;
        position: relative;
        max-width: 300px;
        height: 100%;
        color: #888;
        left:-50%;
        transition: all .3s;
    }
    .extend-side #top-nav{
        left: 0;
    }
    #top-nav > .item{
        color: inherit;
        padding: 20px 40px;
    }
    #top-nav > .item:hover{
        background-color: rgba(0,0,0,0.1);
        
    }
    #button-menu{
        display: block;
    }
    .extend-side #button-menu{
        color: #666;
    }
    #page-title{
        display: block;
    }
    #center{
        width: 100%;
        box-sizing: border-box;
    }
    .title{
        font-size: 1.8em;
    }
    .article-info{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px rgba(0,0,0,0.05);
        padding-bottom: 1em;
    }
    .tags-wrapper{
        padding: 0;
        margin: 0;
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: flex-start;
    }
    .tag{
        flex: auto 0;
        margin: 2px 5px;
        white-space: nowrap;
    }
    
    .comment-publish{
    }
    .comment-publish .sender-info{
        flex-flow: row wrap;
        align-items: flex-end;
    }
    .comment-publish .input-wrapper{
        flex: 0 1;
    }
    #input-email{
        margin-left: 0;
    }
    .comment .decoration{
        display: none;
    }
    .comment .line{
        display: none
    }
    .comment .avatar-wrapper{
        justify-content: flex-start;
    }
    .comment .sub-comment{
        padding-left: 30px;
        border-left: solid 3px #E0F7FA;
    }
    .comment .comment-text{
        min-height: inherit;
    }
    #input-comment{
        border-left: solid 3px rgba(0,0,0,0.05);
    }
    #input-comment:focus{
        border-color: #E0F7FA;
    }
}
@media screen and (max-width:400px){
    #center{
        padding: 0 10px;
    }
    #button-comment-send{
        margin-left: 0;
    }
}
#loading {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20%;
    align-items: center;
    overflow: hidden;
}


#side-area {
    position: absolute;
    left: 50px;
    top: 200px;
    width: 300px;
}
@media all and (max-width:1280px){
    #side-area{
        display: none;
    }
}


#content-nav ul{
    list-style: none;
    padding: 0 1.6em;
    
}
#content-nav > ul{
    padding: 0;
}
#content-nav a{
    line-height: 1.8em;
}
#content-nav a:hover{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

#header-content {
    color: #4DD0E1;
    font-size: 1.2em;
    margin: 0;
}

#side-float {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin-top: 100px;
    margin-left: 40px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    transition: height .5s ease, width .1s ease .5s, opacity .3s;
    z-index: 1000;
    /*background: #EEE;*/
}
#side-float:hover{
    margin: 0;
    padding-top: 100px;
    padding-left: 40px;
    height: 100%;
    width: 300px;
    transition: height .3s ease, width 0s linear 0s, opacity .3s;
}
#side-float #content-nav{
    padding: 10px;
    opacity: 0;
    transition: opacity .5s;
    height: 100%;
}
#content-nav::-webkit-scrollbar{
    width: 0;
}
#side-float #content-nav >:last-child{
    margin-bottom: 300px;
}
#side-float:hover #content-nav{
    opacity: 1;
    transition: opacity .2s;
}

#side-float.hide{
    opacity: 0;
}
#side-float.show{
    opacity: 1;
}
@media all and (max-width:1280px){
    #side-float{
        background: #F0F0F0;
    }
    #side-float:hover{
        padding-right: 40px;
    }
    #side-float.hide{
        opacity: 1;
    }
    #side-float #content-nav{
        overflow: scroll;
    }
}
@media all and (max-width:850px){
    #side-float{
        display: none;
    }
}
#content-nav {
    color: #444;
    font-size: 0.9em
}
#side-area.hide-loading{
    display: none;
}
#side-float.hide-loading{
    display: none;
}

#button-content {
    position: absolute;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    color: #888;
    opacity: 1;
    transition: opacity .2s linear .3s;
}
#side-float:hover #button-content{
    opacity: 0;
    transition: opacity .1s ease 0s;
}

#float-buttons {
    position: fixed;
    right: 60px;
    bottom: 80px;
    user-select: none;
    z-index: 1000;
}
#root.darken #float-buttons{
    opacity: 0;
}

.float-button {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #4DD0E1;
    color: white;
    cursor: pointer;
}
.float-button > *{
    display: block;
    font-size: 24px;
}
@media all and (max-width:850px){
    #float-buttons{
        right: 30px;
        bottom: 20px;
    }
}

#load-error {
    text-align: center;
    user-select: none;
    cursor: default;
}
#root.darken #load-error{
    opacity: 0;
}
#root.darken #main > aside{
    opacity: 0;
}

#error-code {
    color: #4DD0E1;
    font-size: 4em;
    margin: 0;
    opacity: 0;
}
#load-error.show #error-code{
    opacity: 1;
    transition: opacity .3s linear 0s;
}

#error-msg {
    opacity: 0;
}
#load-error.show #error-msg{
    opacity: 1;
    transition: opacity .5s linear 1s;
}

#root.darken {
    background: #222;
    color: #EEE;
    transition: background 1s;
}


.hover-trigger .non-hover {
    display: initial;
}

.hover-trigger .hover {
    display: none;
}

.hover-trigger:hover .non-hover {
    display: none;
}

.hover-trigger:hover .hover {
    display: initial;
}

app {
    display: block;
}
.app {
    position: relative;
    overflow: hidden;
    background-color: #eee;
}
.app-wrapper .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: "Raleway",
    sans-serif;
}
.app-wrapper header {
    font-size: 1.6em;
    margin: 1em 0;
    letter-spacing: .05em;
}
.app-wrapper .button {
    box-shadow: 0 0 20px #4dd0e15e;
}
.app .external {
    display: block;
    border: none 0;
    opacity: 0;
    pointer-events: none;
}
body.full-window {
    overflow: hidden;
}
.app.full-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}
.app-wrapper .panel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
}
.app-wrapper .panel > * {
    margin: .2em;
    padding: .2em;
    cursor: pointer;
    user-select: none;
    color: #777;
}
.app.load .cover {
    display: none;
}
.app.load .external {
    opacity: 1;
    pointer-events: unset;
}

.app-wrapper .icon-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}
.app-wrapper a.icon-button:hover {
    text-decoration: none;
}
.app-wrapper .icon-button:hover::after {
    opacity: 1;
    transition: opacity .3s;
}
.app-wrapper .icon-button::after {
    opacity: 0;
    position: absolute;
    bottom: -1em;
    white-space: nowrap;
    font-size: .8rem;
    color: #aaa;
    font-family: "Raleway",
    sans-serif;
}
.button-new-tab::after {
    content: "Open in new tab";
}
.button-reload::after {
    content: "Reload";
}
.button-full-window::after {
    content: "Full window";
}
.button-full-screen::after {
    content: "Full screen";
}