@use "blog-common/style/index.scss";
@import "simplemde/dist/simplemde.min.css";
@import "./theme.scss";

body {
    background-color: $theme-bg;
    color: $theme-text-color;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-content {
    width: 1600px;
    margin: auto;
}

@import "blog-common/src/doc-editor/style/editor.scss";

.md-editor {
    .editor-preview-side {
        ul {
            list-style: initial;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }
    }
}

@media (max-width: 700px) {
    .top-nav {
        position: sticky;
        background-color: $theme-color;
        width: 100%;
        height: 4em;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .button {
            width: 2em;
            height: 2em;
            box-sizing: border-box;
        }

        .title {
            color: $theme-color-text;
            font-size: 1.2em;
            font-family: $font-ui;
        }

        .button-menu {
            font-size: 2em;
            color: $theme-color-text;
        }
    }
}