@import "blog-common/style/index.scss";
@import "./theme.scss";
@import "./shared.scss";

body {
    background-color: #eee;
    color: $theme-text-color;
}

.page-content {
    width: 1600px;
    margin: auto;
}

.cook-book {
    .create-new {
        margin: 2em 1em;
        border: dashed 5px;
        border-radius: 1em;
        height: 6em;

        color: $theme-text-ex-light;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        .icon {
            width: 3em;
        }
    }
}

.waterfall {
    width: 100%;
    justify-content: stretch;
}

.recipe-preview {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: white;
    margin: 2em 1em;
    border-radius: .6em;
    overflow: hidden;

    .image-wrapper {
        height: auto;
        width: 100%;
        min-height: 160px;
        display: block;
        background-color: $theme-bg-mid-light;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }

        .icon {
            height: 3em;
            color: $theme-text-ex-light;
        }
    }

    .info {
        padding: 2em;
        padding-top: 1em;
    }

    .title {
        font-size: 1.6em;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .optional {
        .item {
            background-color: #eee;
        }
    }

    transform-origin: .5 .5;
    transition: transform .2s;
    transition-timing-function: cubic-bezier(0.32, 2.54, 0.71, 1);

    &:hover {
        transform: scale(1.06);
    }

    &.hidden {
        opacity: 0;
    }

    &.visible {
        opacity: 1;
        transition: opacity .1s ease, transform .2s cubic-bezier(0.32, 2.54, 0.71, 1);
    }
}

.tags {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 1em;
    list-style: none;
    padding: 0;

    .item {
        font-size: 0.8em;
        background-color: $theme-color-light;
        margin: .3em;
        padding: 0.2em 1em;
        border-radius: 6em;

        &:first-child {
            margin-left: 0;
        }
    }
}

.tags.requirements {
    .item {
        color: $theme-color-dark;
    }
}


.recipe-details {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .background {
        opacity: 0;
        background-color: rgba(60, 60, 60, 0.6);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity .3s;
    }

    .details-container {
        width: 800px;
        height: 100%;
    }

    .scroller {
        position: fixed;
        z-index: 10000;
        padding-top: 10vh;
        padding-bottom: 10vh;
        height: 100vh;
        box-sizing: border-box;
        overflow-y: scroll;

        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .details-panel {
        overflow: hidden;
        border-radius: 1em;
        background-color: white;
        
        .button-close {
            display: none;
        }

        .image-wrapper {
            height: auto;
            width: 100%;
            min-height: 300px;
            background-color: $theme-bg-mid-light;
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }

            .icon {
                height: 3em;
                color: $theme-text-ex-light;
            }
        }

        .header {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgb(80, 80, 80);
            background: linear-gradient(0deg, rgba(80, 80, 80, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            color: white;
            padding: 1em 2em;
        }

        .title {
            font-size: 2em;
        }

        .by {
            margin-left: 2em;
            font-size: .8em;
            user-select: none;
        }

        .author {
            text-decoration: none;
            color: inherit;
            border-bottom: solid 2px transparent;
            transition: border-bottom-color .2s;

            &:hover {
                border-bottom: solid 2px white;
            }
        }

        .info {
            padding: 2em;
            padding-top: 1em;
            position: relative;
        }

        .description {
            color: $theme-text-solid;
        }

        .requirements::before {
            content: "Requirements";
            font-size: 1em;
            font-family: $font-ui;
            margin-right: 1em;
            font-weight: bold;
            color: $theme-text-mid-light;
        }

        .optional {
            &::before {
                content: "Optional";
                font-size: 1em;
                font-family: $font-ui;
                margin-right: 1em;
                font-weight: bold;
                color: $theme-text-mid-light;
            }

            .item {
                background-color: #eee;
            }
        }

        .divider {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: stretch;

            .text {
                font-family: $font-ui;
                font-weight: bold;
                color: $theme-text-mid-light;
            }

            hr {
                flex: 1 0;
                border: none;
                background-color: $theme-bg;
                height: 2px;
                margin-left: 1em;
            }
        }

        .button-edit {
            color: white;
            text-decoration: none;
            outline: none;
            width: 3em;
            height: 3em;
            background-color: $theme-color;
            border-radius: 3em;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -1.5em;
            right: 2em;
            overflow: hidden;

            .icon {
                width: 1.6em;
            }
        }
    }

    &.showing {
        opacity: 1;
        pointer-events: unset;

        .background {
            opacity: 1;
        }

        .scroller {
            transition: all .3s;
            overflow: hidden;
        }
    }

    &.present {
        pointer-events: unset;

        .background {
            opacity: 1;
        }
    }

    &.hiding {
        .background {
            opacity: 0;
        }

        .scroller {
            transition: all .3s;
            opacity: 0;
        }
    }

    &.invisible {
        opacity: 0;

        .background {
            opacity: 0;
        }
    }
}

.details-panel .content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-ui;
    }
}



@media (max-width: 1660px) {
    .page-content {
        width: 1360px;
    }
}

@media (max-width: 1400px) {
    .page-content {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .recipe-details {
        .details-container {
            width: calc(100% - 1em);
        }

        .details-panel {
            position: relative;

            .button-close {
                position: absolute;
                left: 0;
                top: 0;
                width: 2em;
                height: 2em;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                z-index: 100;
                color: $theme-text-ex-light;

                .icon {
                    width: 1.2em;
                }
            }

            .header {
                box-sizing: border-box;
                padding: .5em 1.5em;
            }

            .title {
                font-size: 1.5em;
                display: block;
            }

            .by {
                margin-left: 0;
            }

            .info {
                padding: 1.5em;
                padding-top: 0.5em;
            }
        }
    }
}

@media (max-width: 500px) {

    .recipe-preview {

        margin: 1em;

        .info {
            padding: 1em;
            padding-top: 0.5em;

            .title {
                font-size: 1.4em;
                font-weight: bold;
            }
        }

        &:hover {
            transform: unset;
        }
    }

    .tags {
        margin-top: 0.5em;
        font-size: 0.9em;
    }
}

@media (max-width: 300px) {
    .top-nav {
        .title {
            font-size: 1em;
        }
    }
}