@import "./theme.scss";
@import "blog-common/style/index.scss";
@import "blog-common/src/doc-editor/style/editor.scss";

body {
    background-color: #eee;
}

.page-content {
    width: 1200px;
    margin: auto;
}

.tag-editor .tag {
    background-color: $theme-color-light;
    color: $theme-text-light;
}

@media (max-width: 1200px) {
    .page-content {
        width: 90vw;
    }
}

@media (max-width: 700px) {
    .page-content {
        width: 100vw;
    }
}