.markdown-body {
    hr {
        height: 0.1em;
    }

    del.black {
        background: black;
        color: transparent;
    }

    img {
        display: block;
        margin: auto;
    }
}