
#rootDiv
{
    width:100%;
}
#topArea{
    position: relative;
    height: 75px;
    display: flex;
    justify-content: center;
    
}
#topBar {
    position: fixed;
    height: 75px;
    width: 100%;
    border: solid 0px transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color: #80DEEA;
    box-shadow: 0 0 20px rgba(0,0,0,.025);
    background-color: white;
    transition: all .3s;
    padding: 0 calc((100% - 1440px) / 2);
    box-sizing: border-box;
}
#topMenu {
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    z-index: 1000;
}
#topBar.extend{
    height: 75px;
    border-bottom: solid 0px rgba(0,0,0,0);
}
#topBar.fold{
    height: 50px;
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.1);
}
#topMenuButtons {
    bottom: 0px;
    height: 50px;
    flex: auto 1;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
#menuFocus
{
    width: 100px;
    height: 5px;
    background-color: #4DD0E1;
    position: absolute;
    bottom: 0px;
}
#userArea {
    display: flex;
    
    vertical-align: middle;
    top: 10px;
    right: 40px;
}
#buttonSignUp {
    display: none;
    background-color: transparent;
    width: 60px;
    color: rgb(63, 150, 207);
    border: 1px solid rgb(63, 150, 207);
}
#userFace {
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-color: white;
    color: #2980b9;
    font-size: 56px;
    border-radius: 64px;
    padding: 10px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    -webkit-perspective: 100px;
    
}
#center {
    margin: auto;
    margin-top: 150px;
    margin-bottom: 30px;
    position: relative;
    min-height: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}
#content {
    flex: 1 1;
    position: relative;
}
#rightArea{
    flex: auto 0;
    margin-left: 0;
    min-width: 0;
    /*position: absolute;
    right: 0px;
    top: 0px;
    right: 20px;*/
}
#search {
    position: relative;
}
#searchText {
    width: calc(100% - 32px);
    border: none;
    font-size: 18px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    height: 100%;
}
#buttonSearch {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin-left: 5px;
}
#comment {
    height: 1000px;
    background-color: white;
    margin-top: 20px;
}
#pageBottom {
    padding: 30px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    height: 300px;
    display: block;
    position: relative;
    bottom: 0px;
    background-color: rgba(63, 150, 207, 1.00);
    vertical-align: middle;
}
#pageCodeContainer
{
    float: right;
    margin-right: 50px;
    right: 0px;
    top: 200px;
    height: 42px;
    width: 42px;
    background-color: white;
    border-width: 0px;
    overflow: hidden;
}
#pageCodeIcon
{
    padding: 5px;
    top: 0px;
    left:0px;
    height: 32px;
    width: 32px;
    background-color: #66CCFF;
    cursor: pointer;
    display: inline-block;
}
#pageCodeIconText
{
    color: white; 
    font-weight: 500; 
    width: 100%; 
    text-align: center; 
    padding-top: 5px; 
    cursor: pointer;
    display: inline-block;
}
#pageCodeTitleDiv
{
    height: 42px;
    width: 100%;
    white-space: nowrap;

}
#pageCodeInputArea
{
    width: 480px;
    height: 280px;
    padding: 10px;
}
#pageCodeInputBorder
{
    width: 478px;
    height: 278px;
    padding: 0px;
}
#pageCodeInput
{
    width: 100%;
    height: 100%;
}
#pageCodeBottom
{
    height: 32px;
    width: 480px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
#pageCodeButton
{
    float: right;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: right;
}
#pageCodeButtonRun
{
    background-color: rgba(114, 197, 124, 1);
    color: white;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#dialogBackground {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#dialog {
    position: relative;
    top: 30%;
    width: 15%;
    margin: auto;
    padding: 20px;
    background: white;
}
#dialogTitle {
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}
#dialogContent {
    margin-top: 10px;
    min-height: 50px;
    color: rgba(0, 0, 0, 0.8);
}
#dialogButtons {
    margin-top: 20px;
}
#buttonOk {
    font-size: 16px;
    width: 200px;
    margin: auto;
}
#noticeBox {
    padding: 20px;
    position: relative;
    top: 40%;
    width: auto;
    display: inline-block;
    min-width: 100px;
    background-color: white;
}

.top-right {
    flex: 1 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}



.top-icon {
    font-family: 'Material Icons';
    font-size: 24px;
    color: #80DEEA;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 1em;
}





#user-avatar {
    height: 100%;
    border-radius: 100%;
}

#user {
    height: 40px;
    position: relative;
}

#account-area.login > #login {
    display: none;
}

#account-area.login > #user-login-wrapper {
    display: flex;
}



#user-action {
}

.flex-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#user-login-wrapper {
    display: none;
}


#button-menu {
    display: none;
    font-size: 30px;
    padding: 10px;
}

#page-title {
    display: none;
    font-size: 18px;
    margin-left: 10px;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* Width < 800 */
@media (max-width: 800px)
{
    #topMenuButtons {
        left: 0px;
    }
}

/* Width > 1440 */
@media (min-width: 1440px) and (min-aspect-ratio: 1/1)
{
    #center{
        width: 1000px;
    }
}
/* Width < 1440 */
@media (max-width: 1440px)
 {
    #center{
        width: 800px;
    }
    #rightArea{
        display: none;
    }
}
@media screen and (max-width:1440px){
    #topBar{
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
}
@media screen and (max-width:800px){
    #pageCodeContainer{
        display: none;
    }
    #topBar{
        width: 100%;
        background-color: #4DD0E1;
        color: white;
        box-shadow: 0 0 30px rgba(0,0,0,0.2);
        padding-left: 0;
        padding-right: 10px;
    }
    #topMenu{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        opacity: 0;
        display: none;
        transition: all .3s;
    }
    #topMenu.extend{
        display: block;
        opacity: 1;
        
    }
    #button-menu{
        z-index: 10000;
    }
    #button-menu.extend{
        color: #666;
    }
    #topMenuButtons{
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        height: 100%;
        width: 60%;
        max-width: 260px;
        padding-top: 50px;
        box-sizing: border-box;
        background-color: white;
        position: absolute;
        color: #666;
        left: -50%;
        transition: all .3s;
    }
    #topMenu.extend #topMenuButtons{
        left: 0;
    }
    #button-menu{
        display: block;
    }
    #page-title{
        display: block;
    }
    .top-icon{
        color: white;
        margin-right: 10px;
    }
    .menuButton{
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding-left: 50px;
    }
    #center{
        width: 100%;
        margin-top: 30px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    #content{
        width: 100%;
    }
    .articleItem{
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 0 20px rgba(0,0,0,0.05); 
    }
    .articleTitle{
        font-size: 1.4em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0;
    }
    .articleTags{
        display: none;
    }
    .articleText{
        margin-top: .3em;
        padding-top: .3em;
        padding-bottom: 0;
    }
    
}

#page-footer {
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
    box-sizing: border-box;
    color: #888;
    text-align: center;
    padding-bottom: 2em;
}

#search {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 2em;
    font-size: 1rem;
}

#search .icon-search {
    height: 24px;
    margin-right: .5em;
}

#search-input {
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Open sans",
    "Roboto",
    "Microsoft YaHei",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    font-size: 16px;
    border-bottom: solid 2px #80DEEA;
    background-color: transparent;
    padding: 0;
    width: 0;
    height: 100%;
    color: black;
    user-select: initial;
    transition: all .3s;
}
#search-input::placeholder {
    color: #95e1eb;
}

#search.expand #search-input {
    width: 16em;
    padding: 0 .5em;
}

@media all and (max-width: 800px) {
    #search.expand {
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #4DD0E1;
        z-index: 10000;
    }

    #search-input {
        border: none 0 transparent;
        background-color: rgba(255,255,255,.2);
        color: white;
        transition: all .1s;
    }

    #search-input::placeholder {
        color: rgba(255, 255, 255, .8);
    }

    #search.expand #search-input {
        margin-right: 2em;
        flex: 1 0;
        width: auto;
    }

    #search.expand .icon-search {
        height: 30px;
        padding: 10px;
    }
}