@import "./font.scss";

body {
    @include font-text;
    margin: 0;
    padding: 0;
    background: #eee;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.page-content {
    flex: 1 0;
    width: 1000px;
    margin: auto;
    margin-top: 5em;
}

.page-footer {
    @include font-ui;
    background-color: #ddd;
    color: #888;
    height: 10em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

@import "./top-nav.scss";
@import "./search.scss";
@import "./message.scss";