@import "./font.scss";

.top-nav {
    @include font-ui;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
    margin-top: 1em;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
    }

    li {
        margin: 1em;
        border-bottom: solid 2px transparent;
        transition: all .2s;
        display: block;
    }
    li:hover {
        border-bottom-color: black;
    }

    a {
        text-align: center;
        display: block;
        padding: .5em 1em;
        color: inherit;
        text-decoration: none;
    }
}