@import "blog-common/style/index.scss";
@import "./theme.scss";

body {
    background-color: #eee;
}

.top-nav {
    background-color: #222;
    color: $theme-color-text;
    margin-top: 0;

    li:hover {
        border-color: $theme-color-text;
    }
}


@media (max-width: 1000px) {
    .top-nav {
        background-color: $theme-color;

        .title {
            color: $theme-color-text;
        }

        .button-menu {
            color: $theme-color-text;
        }
    }
}