$theme-bg: #eee;
$theme-bg-mid-light: rgba(247, 247, 247, 1);
$theme-bg-light: white;
$theme-text-color: #444;
$theme-text-ex-light: #ccc;
$theme-text-light: #aaa;
$theme-text-mid-light: #888;
$theme-text-solid: black;
$theme-color: black;
$theme-color-light: #fff8e2;
$theme-color-dark: #feb31d;
$theme-color-text: white;
$theme-shadow-color: rgba(0, 0, 0, 0.01);
$theme-shadow-size-large: 30px;

$font-text: 'Open Sans',
    'Segoe UI',
    'Microsoft YaHei UI',
    Roboto,
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
$font-ui: 'Raleway',
    'Roboto',
    'Segoe UI',
    'Microsoft YaHei UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;