.menuButton {
    background-color: transparent;
    display: block;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-family: "Titillium Web";
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    border-color: rgba(255, 255, 255, 0.00);
    position: relative;
    float: left;
}

.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    color: white;
    background-color: rgba(63, 150, 207, 1.00);
}

.shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.textbox {}

.borderObject {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200, 200, 200, 1.00);
}

.text1 {
    font-size: 72px;
    font-weight: 100;
    margin: 0px;
}

.text2 {
    font-size: 60px;
    font-weight: 100;
    margin: 0px;
}

.text3 {
    font-size: 48px;
    font-weight: 100;
    margin: 0px;
}

.text4 {
    font-size: 36px;
    font-weight: 200;
    margin: 0px;
}

.text5 {
    font-size: 24px;
    font-weight: 300;
    margin: 0px;
}

.text6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.text12px {
    font-size: 12px;
    margin: 0px;
    font-weight: 500;
}

.divFloat {
    position: fixed;
    padding: 0px;
    margin: 0px;
    z-index: 10000;
}

.pIntroduction {
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.oneLineText {
    white-space: nowrap;
    overflow: hidden;
}

.transparentBackgroundOjbect {
    background-color: transparent;
}

.miniTag {
    flex: 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #6ED8D8;
    border-color: #6ED8D8;
    height: 24px;
    width: auto;
    margin-right: 4px;
    position: relative;
    padding: 0 10px;
    margin: 5px 7px;
}

.miniTagText {
    display: inline-block;
    position: relative;
    color: white;
    height: 16px;
}

.latestItem {
    min-height: 240px;
    width: 100%;
    height: auto;
    padding: 40px 50px;
    box-sizing: border-box;
    margin-bottom: 40px;
    background-color: white;
}

.latestTag {
    display: none;
    font-style: normal;
    color: gray;
    font-size: 12px;
    border-radius: 3px;
    border: solid 1px rgba(200, 200, 200, 1.00);
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    bottom: 5px;
    margin-right: 10px;
}

.latestTitle {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    transition: color .1s;
}
.latestTitle:hover{
    color: #6ED8D8;
}

.latestTime {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.2em;
    color: #555;
    
    font-size: 14px;
}

.latestTime i {
    color: #6ED8D8;
    margin-right: .3em;
}

.latestText {
    color: #666;
    margin-top: 2em;
    margin-bottom: 10px;
    white-space: normal;
    word-break: break-all;
    font-size: 14px;
    font-weight: normal;
    word-wrap: normal;
    text-overflow: ellipsis;
    line-height: 1.8em;
}
.latestText::after{
    content: " ...";
}

.latestBottom {
    display: none;
    height: 23px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    border-top: solid 1px rgba(240, 240, 240, 1.00);
    cursor: default;
}

.worksItem {
    min-height: 120px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(200, 200, 200, 1.00);
    display: block;
}

.worksTypeMusic:before {
    font-family: fontIcon;
    content: "\e002";
    font-size: 16px;
    color: rgba(63, 150, 207, 1);
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

.worksTypeVideo:before {
    font-family: fontIcon;
    content: "\e059";
    font-size: 16px;
    color: rgba(63, 150, 207, 1);
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

.worksTypePicture:before {
    font-family: fontIcon;
    content: "\e060";
    font-size: 16px;
    color: rgba(63, 150, 207, 1);
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

.worksTypeApp:before {
    font-family: fontIcon;
    content: "\e914";
    font-size: 16px;
    color: rgba(63, 150, 207, 1);
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

.worksTypeOther:before {
    font-family: fontIcon;
    content: "\e897";
    font-size: 16px;
    color: rgba(63, 150, 207, 1);
    position: relative;
    top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}

.worksName {
    font-size: 24px;
    display: inline;
    color: black;
}

.worksName:hover {
    text-decoration: underline;
}

.worksTime {
    font-size: 14px;
    font-weight: 100;
    color: gray;
    display: inline;
    margin-right: 10px;
}

.worksTime::before {
    font-family: fontIcon;
    content: "\e121";
    position: relative;
    top: 1px;
    margin-left: 5px;
    margin-right: 3px;
}

.worksTags {
    font-size: 14px;
    font-weight: 100;
    color: gray;
    display: inline;
}

.worksTags:before {
    font-family: fontIcon;
    content: "\e1CB";
    position: relative;
    color: rgba(63, 150, 207, 1);
    top: 1px;
    margin-left: 5px;
    margin-right: 3px;
}

.worksText {
    color: #666666;
    margin-top: 10px;
    font-size: 14px;
}

.articleItem {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.articleTitle {
    font-size: 24px;
    font-weight: 300;
    display: inline;
    color: rgba(51, 132, 213, 1);
}

.articleTitle:hover {
    text-decoration: underline;
}

.articleTime {
    font-size: 12px;
    font-weight: 100;
    color: gray;
    display: inline;
    margin-right: 10px;
}

.articleTime:before {
    font-family: fontIcon;
    content: "\e023";
    position: relative;
    top: 1px;
    margin-left: 5px;
    margin-right: 3px;
}

.articleTags {
    font-size: 12px;
    font-weight: 100;
    color: gray;
    display: inline;
}

.articleTags:before {
    font-family: fontIcon;
    content: "\e1CB";
    position: relative;
    color: #66CCFF;
    top: 1px;
    margin-left: 5px;
    margin-right: 3px;
}

.articleText {
    font-weight: 100;
    margin-top: 10px;
    font-size: 14px;
}

.areaNameText {
    font-weight: 200;
    font-size: 24px;
    margin: 5px;
}

.areaNameContainer {
    border-bottom: 1px solid rgba(240, 240, 240, 1.00);
    padding-bottom: 20px;
    display: none;
}

.textWithIcon {
    font-weight: 100;
    font-size: 12px;
    float: left;
    margin-left: 10px;
    color: gray;
}

.iconComment:before {
    color: rgba(133, 156, 188, 1);
    position: relative;
    top: 2px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
    display: inline-block;
    font-family: fontIcon;
    content: "\e111";
}

.iconLike:before {
    color: rgba(133, 156, 188, 1);
    position: relative;
    top: 2px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
    display: inline-block;
    font-family: fontIcon;
    content: "\e125";
}

.iconBrowse:before {
    color: rgba(133, 156, 188, 1);
    position: relative;
    top: 2px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-right: 5px;
    display: inline-block;
    font-family: fontIcon;
    content: "\e032";
}
.tag-decoration {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: -5px;
    border: solid 12px;
    border-color: inherit;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 0;
    border-right-width: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

.tag-hole {
    position: absolute;
    left: 5px;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    background-color: white;

}

.contact-link {
    height: 32px;
    margin: 10px;
}

.block {
    position: relative;
    background-color: white;
    padding: 30px;
}

#rightArea > .block {
    margin-top: 40px;
}

#rightArea > .block > .title {
    background-color: #6ED8D8;
    padding: 8px 20px;
    color: white;
    position: absolute;
    left: 0;
    font-family: "Titillium Web";
    font-size: 18px;
    cursor: default;
}

.friend-link {
    display: flex;
    margin-top: 20px;
    height: 64px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.friend-link .avatar {
    flex: auto 0;
    height: 64px;
    border-radius: 100%;
    
}

.friend-link .info {
    margin-left: 20px;
    flex: auto 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    
}

.friend-link .link {
    font-size: 1.3em;
    transition: color .2s;
    color: #555;
}
.friend-link .link:hover{
    color: #FFD582;
    
}

.friend-link .intro {
    color: transparent;
    height: 0;
    transition: height .3s, color .5s;
}
.friend-link:hover .intro {
    color: #AAA;
    height: 24px;
}

.font-UI {
    font-family: "Titillium Web",Segoe UI,Microsoft YaHei,sans-serif;
}

.icon-button {
    font-family: "Material Icons";
    line-height: 1;
}
